/*
	common style for whole page
	This should include:
	+ page size related settings
	+ font family settings
	+ line spacing settings
*/
.print-format div,
.print-format span,
.print-format td,
.print-format h1,
.print-format h2,
.print-format h3,
.print-format h4 {
	font-family: serif;
}
.print-heading {
	text-align: right;
	text-transform: uppercase;
	font-color: #888;
	font-weight: bold;
	padding-bottom: 7px;
	margin-bottom: 15px;
	border-bottom: 3px solid #aaa;
}

.print-format table.table-bordered {
	border-top: 2px solid #aaa;
}

.print-format th {
	background-color: #eee !important;
}

.rTable {   	display: table;   	width: 100%; } 
.rTableRow {   	display: table-row; } 
.rTableHeading {   	display: table-header-group;   	background-color: #ddd; } 
.rTableCell, .rTableHead {   	display: table-cell;   	padding: 3px 10px;   	border: 1px solid #ddd; } 
.rTableHead {   	background-color: #eee; border-color:#ccc } 
.rTableHeading {   	display: table-header-group;   	background-color: #ddd;   	font-weight: bold; } 
.rTableFoot {   	display: table-footer-group;   	font-weight: bold;   	background-color: #ddd; } 
.rTableBody {   	display: table-row-group; } 

[document-status] {
	margin-bottom: 0 !important;
}
.signature-box{
	height: 100px;
}

.signature-box img{
	margin:10px auto;
	max-height:150px;
}

img.stamp{
	margin-left:40px;
}

.letter-head-header{

}

.page-break{
	padding:15px 0 !important;
}

.table-bordered tr{
}