/*
	common style for whole page
	This should include:
	+ page size related settings
	+ font family settings
	+ line spacing settings
*/
.print-format div,
.print-format span,
.print-format td,
.print-format h1,
.print-format h2,
.print-format h3,
.print-format h4 {
	font-family: serif;
}
.print-heading {
	text-align: right;
	text-transform: uppercase;
	font-color: #888;
	font-weight: bold;
	padding-bottom: 7px;
	margin-bottom: 15px;
	border-bottom: 3px solid #aaa;
}

.print-format table.table-bordered {
	border-top: 2px solid #aaa;
}

.print-format th {
	background-color: #eee !important;
}

.rTable {   	display: table;   	width: 100%; } 
.rTableRow {   	display: table-row; } 
.rTableHeading {   	display: table-header-group;   	background-color: #ddd; } 
.rTableCell, .rTableHead {   	display: table-cell;   	padding: 3px 10px;   	border: 1px solid #ddd; } 
.rTableHead {   	background-color: #eee; border-color:#ccc } 
.rTableHeading {   	display: table-header-group;   	background-color: #ddd;   	font-weight: bold; } 
.rTableFoot {   	display: table-footer-group;   	font-weight: bold;   	background-color: #ddd; } 
.rTableBody {   	display: table-row-group; } 

[document-status] {
	margin-bottom: 0 !important;
		margin-top: 0 !important;

}
.signature-box{
	height: 100px;
}

.signature-box img{
}

img.stamp{
	float:left;
	width:120px;
	position:absolute;
	bottom:10%;
	left:-20px;
}

img.signature{
	float:left;
	width:150px;
	border:none;
	
}

img.signature_stamp{
	float:left;
	width:150px;
	position:absolute;
	bottom:5px;
	left:30%;
}

.letter-head-header{

}

.page-break{
	padding:10px 0 !important;
}

.table-bordered tr{
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: inherit !important;
}

h6.uppercase, .h6.uppercase {
	    font-size: 12px;
    font-weight: 500;
}


textarea.form-control {
    height: 150px !important;
}

.form-section .section-head .collapse-indicator {
	color: #aaa;
}
.octicon, .mega-octicon {
    font: normal normal normal 18px/1 octicons;
}

a.module-link{
	padding:5px 0 !important;
}

.sidebar-icon,.moduleview-icon {
	padding: 5px;
	display: inline-block;
	margin: auto;
	text-align: center;
	border-radius: 8px;
	/* cursor: pointer; */
	/* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); */
}

.sidebar-icon .inner, .sidebar-icon i,
.moduleview-icon .inner, .moduleview-icon i {
	/* font-size: 32px; */
	min-width: 20px;
	display: inline-block;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.15);

}

.sidebar-icon .inner {
  line-height: 32px;
  font-weight: bold;
}

a.module-link.active, a.module-link:hover{
	background-color:#ddd !important;
}

.form-links .count{
	font-size:larger;
	font-weight:bold;
}

#page-desktop{
	background-color:#F7FAFC !important;
}

.letterhead-logo{
	position:absolute;
}

.page-break{
	border-bottom:none !important;
}

.signature-hr{
	width:60%;
}