{% extends "templates/web.html" %}

{% block title %}{{ blog_title or _("Blog") }}{% endblock %}
{% block header %}{{ blog_title or _("Blog") }}{% endblock %}
{% block hero %}{% include "templates/includes/blog/hero.html" %}{% endblock %}

{% block page_content %}
<!-- no-header -->
<!-- no-breadcrumbs -->
<div class="blog-list-content">
	<div id="blog-list">
		{% include "templates/includes/list/list.html" %}
	</div>
</div>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/list/list.js" %}</script>
{% endblock %}
