<!-- <ul class="list-unstyled sidebar-menu visible-sm visible-xs">
	<li>
		<a class="navbar-home" href="#">
			<img class="app-logo" src="{{ frappe.app.logo_url }}">
		</a>
	</li>
</ul> -->
<ul class="list-unstyled sidebar-menu user-actions hide">
	<li class="divider"></li>
</ul>
<ul class="list-unstyled sidebar-menu standard-actions">
	{% if frappe.model.can_get_report(doctype) %}
	<li class="divider"></li>
	<li class="list-sidebar-item">
		<ul class="dropdown-menu reports-dropdown list-unstyled sidebar-menu">
			<li class="list-sidebar-item">
				<a class="list-sidebar-link" href="#List/{{ doctype }}/Report">{{ __("Report Builder") }} <i class="octicon octicon-plus" style="font-size:large; margin-left: 2px;"></i>
				</a>
			</li>
			
		</ul>
	</li>

	{% endif %}
	<li class="divider"></li>
	<li class="list-sidebar-item list-link" data-view="List">
		<a class="list-sidebar-link" href="#List/{%= doctype %}/List">{%= __("List") %}</a></li>
	<li class="list-sidebar-item hide list-link" data-view="Image">
		<a class="list-sidebar-link" href="#List/{%= doctype %}/Image">{%= __("Images") %}</a></li>
	<li class="list-sidebar-item hide list-link" data-view="Gantt">
		<a class="list-sidebar-link" href="#List/{%= doctype %}/Gantt">{%= __("Gantt") %}</a></li>
	<li class="tree-link list-sidebar-item hide list-link" data-view="Tree">
		<a class="list-sidebar-link" href="#Tree/{%= doctype %}">{%= __("Tree") %}</a></li>
	
	<li class="divider"></li>
	<li class="list-sidebar-item hide list-link" data-view="Calendar">
		<a class="list-sidebar-link" href="#List/{%= doctype %}/Calendar">{%= __("Calendar") %}</a>
	</li>
	<li class="divider"></li>

	<li class="list-sidebar-item hide list-link" data-view="Kanban">
		
			<ul class="dropdown-menu kanban-dropdown list-unstyled sidebar-menu">
				<!-- <li><div class="text-muted">{{ __("Kanban") }}</div></li> -->
				<li class="list-sidebar-item new-kanban-board"><a class="list-sidebar-link">{{ __("Kanban Board") }} <i class="octicon octicon-plus" style="font-size:large; margin-left: 2px;"></i></a></li>
			</ul>
	</li>
	<li class="divider"></li>
	<li class="list-sidebar-item hide list-link" data-view="Inbox">
		<div class="text-muted">
			{{ __("Email Inbox") }}
		</div>
		<ul class="email-account-dropdown list-unstyled sidebar-menu">
		</ul>
	</li>
	<li class="list-sidebar-item assigned-to-me">
		<a class="list-sidebar-link">{%= __("Assigned To Me") %}</a>
	</li>
	{% if(frappe.help.has_help(doctype)) { %}
	<li class="list-sidebar-item"><a class="list-sidebar-link help-link" data-doctype="{{ doctype }}">{{ __("Help") }}</a></li>
	{% } %}
</ul>

<ul class="list-unstyled sidebar-menu sidebar-stat">
	<li class="divider"></li>
	<li class="list-sidebar-item list-stats list-link">
		<li class = "list-sidebar-link">
			{{ __("Tags") }}
		</li>
		<li class="list-stats-dropdown">
			<div class="dropdown-search">
				<input type="text" placeholder={{ __("Search") }} class="form-control dropdown-search-input input-xs">
			</div>
		</li>
	</li>
	<li class="list-sidebar-item list-link">
		<a class="list-sidebar-link list-tag-preview hidden-xs">{{ __("Show tags") }}</a>
	</li>
</ul>
<ul class="list-unstyled sidebar-menu charts-menu hide">
	<li class="divider"></li>
	<li class="h6">{%= __("Charts") %}</li>
	<li class="list-link">
		<a class="toggle-charts">{%= __("Toggle Charts") %}</a>
	</li>
	<li class="list-link">
		<a class="configure-charts hidden">{%= __("Configure Charts") %}</a>
	</li>
</ul>
<ul class="list-unstyled sidebar-menu list-filters"></ul>
<ul class="list-unstyled close-sidebar-button visible-xs visible-sm">
	<li class="divider"></li>
	<li class="close-sidebar">{{ __("Close") }}</li>
</ul>
