{% macro render_field(df, doc,cnt, total) -%}


	{%- if df.fieldtype=="Table" -%}
		{%- if df.fieldname=="items" -%}
			{{ render_item_table(df, doc,cnt, total) }}
		{%- else -%}
			{{ render_table(df, doc) }}
		{%- endif -%}
	{%- elif df.fieldtype=="HTML" -%}
		<div>{{ frappe.render_template(df.options, {"doc": doc}) or "" }}</div>
	{%- elif df.fieldtype in ("Text", "Text Editor", "Code") -%}
		{{ render_text_field(df, doc) }}
	{%- else -%}
		{{ render_field_with_label(df, doc) }}
	{%- endif -%}
{%- endmacro -%}

	


{%- macro render_item_table(df, doc,cnt, total) -%}
					

	{%- set table_meta = frappe.get_meta(df.options) -%}
	{%- set data = doc.get(df.fieldname)[df.start:df.end] -%}
	{%- if doc.print_templates and
			doc.print_templates.get(df.fieldname) -%}
		{% include doc.print_templates[df.fieldname] %}
	{%- else -%}
		{%- if data -%}
		{%- set visible_columns = get_visible_columns(doc.get(df.fieldname),
			table_meta, df) -%}

		<div {{ fieldmeta(df) }}>
		
			{% set seccnt = [0] %}
			{% for d in data %}
				
				{%- if d.item_group == 'Header1' or d.item_group == 'Header2' or d.item_group == 'Header3' -%}
					
					{%- if seccnt[0] != 0 -%}
					
						<tr style="font-weight:bold">
							<td class="table-sr"></td>
							{% for tdf in visible_columns %}
								{%- if tdf.fieldname=="description" -%}
									<td class="{{ get_align_class(tdf.fieldtype) }}" {{ fieldmeta(df) }}>
									<div class="value">Total</div></td>
								{%- elif tdf.fieldname=="amount" -%}
									<td class="text-right" data-fieldname="items" data-fieldtype="Table">
										<div class="value">{{ "{:,.2f}".format(total[0]) }}</div>
									</td>
								{%- elif tdf.fieldname =="warranty_period" or tdf.fieldname =="item_group"  -%}

								{%- else -%}
									<td class="table-sr"></td>
								{%- endif -%}
								
							{% endfor %}
						</tr>
					</tbody>
					</table>
					{%- endif -%}
					
					{% if seccnt.append(seccnt.pop() + 1) %}{% endif %}
					{% set cnt = [0] %}
					{% set total = [0] %}
			


					<div style="text-align:right;font-size:larger;font-weight:bold">
						<div class="value">{{ d.get_formatted("item_name", doc) }} - Qty {{ d.get_formatted("qty", doc) }}</div>
					</div>
					
					
					<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th style="width: 30px" class="table-sr">Sr</th>
							{% for tdf in visible_columns %}
								{%- if tdf.fieldname == "description" or tdf.fieldname == "qty" or tdf.fieldname == "rate" or tdf.fieldname == "amount" -%}
								<th style="width: {{ get_width(tdf) }}px;" class="{{ get_align_class(tdf.fieldtype) }}" {{ fieldmeta(df) }}>
									{{ _(tdf.label) }}</th>
								{%- endif -%}

							{% endfor %}
						</tr>
					</thead>
					<tbody>
				{%- else -%}
					
					{%- if cnt[0] == 0 and seccnt[0] == 0-%}
						{% set total = [0] %}
						{% if seccnt.append(seccnt.pop() + 1) %}{% endif %}
						<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th style="width: 30px" class="table-sr">Sr</th>
								{% for tdf in visible_columns %}
									{%- if tdf.fieldname == "description" or tdf.fieldname == "qty" or tdf.fieldname == "rate" or tdf.fieldname == "amount" -%}

									<th style="width: {{ get_width(tdf) }}px;" class="{{ get_align_class(tdf.fieldtype) }}" {{ fieldmeta(df) }}>
										{{ _(tdf.label) }}</th>
									{%- endif -%}
								{% endfor %}
							</tr>
						</thead>
						<tbody>
					{%- endif -%}	
					<tr style="">
						<td class="table-sr">{% if cnt.append(cnt.pop() + 1) %}{% endif %}{{ cnt[0] }}</td>

						{% for tdf in visible_columns %}
							{%- if tdf.fieldname == "description" or tdf.fieldname == "qty" or tdf.fieldname == "rate" or tdf.fieldname == "amount" -%}
							<td class="{{ get_align_class(tdf.fieldtype) }}" {{ fieldmeta(df) }}>
                            <div class="value">{{ print_value(tdf, d, table_meta, doc) }}</div></td>
							{%- endif -%}
						{% endfor %}
					</tr>
				{% if total.append(total.pop() + d.amount) %}{% endif %}
				{%- endif -%}
				
				{%- if loop.index == loop.length -%}
					<tr style="font-weight:bold">
							<td class="table-sr"></td>
							{% for tdf in visible_columns %}
								{%- if tdf.fieldname=="description" -%}
									<td class="{{ get_align_class(tdf.fieldtype) }}" {{ fieldmeta(df) }}>
									<div class="value">Total</div></td>
								{%- elif tdf.fieldname=="amount" -%}
									<td class="text-right" data-fieldname="items" data-fieldtype="Table">
										<div class="value">{{ "{:,.2f}".format(total[0]) }}</div>
									</td>
								{%- elif tdf.fieldname =="warranty_period" or tdf.fieldname =="item_group"  -%}

								{%- else -%}
									<td class="table-sr"></td>
								{%- endif -%}
								
							{% endfor %}
					</tr>
				{%- endif -%}
			{% endfor %}
			
				</tbody>
			</table>
		</div>
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}

{%- macro render_table(df, doc) -%}
	{%- set table_meta = frappe.get_meta(df.options) -%}
	{%- set data = doc.get(df.fieldname)[df.start:df.end] -%}
	{%- if doc.print_templates and
			doc.print_templates.get(df.fieldname) -%}
		{% include doc.print_templates[df.fieldname] %}
	{%- else -%}
		{%- if data -%}
		{%- set visible_columns = get_visible_columns(doc.get(df.fieldname),
			table_meta, df) -%}
		<div {{ fieldmeta(df) }}>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th style="width: 40px" class="table-sr">Sr</th>
						{% for tdf in visible_columns %}
							<th style="width: {{ get_width(tdf) }}px;" class="{{ get_align_class(tdf.fieldtype) }}" {{ fieldmeta(df) }}>
								{{ _(tdf.label) }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
						<td class="table-sr">{{ d.idx }}</td>
						{% for tdf in visible_columns %}
							<td class="{{ get_align_class(tdf.fieldtype) }}" {{ fieldmeta(df) }}>
                                <div class="value">{{ print_value(tdf, d, table_meta, doc) }}</div></td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}

{% macro fieldmeta(df) -%}
data-fieldname="{{ df.fieldname }}" data-fieldtype="{{ df.fieldtype }}"
{%- endmacro %}

{%- macro render_field_with_label(df, doc) -%}
		<div class="row" {{ fieldmeta(df) }}>
			<div class="col-xs-5 text-right">
				{% if df.fieldtype not in ("Image","HTML") and
					doc.get(df.fieldname) != None %}
				<label>{{ _(df.label) }}</label>
				{% endif %}
			</div>
			<div class="col-xs-7 {{ get_align_class(df.fieldtype) }} value">
				{% if doc.get(df.fieldname) != None -%}
					{{ print_value(df, doc) }}{% endif %}
			</div>
		</div>
{%- endmacro -%}

{%- macro render_text_field(df, doc) -%}
{%- if doc.get(df.fieldname) != None -%}
<div style="padding: 10px 0px" {{ fieldmeta(df) }}>
	{%- if df.fieldtype in ("Text", "Code") %}<label>{{ _(df.label) }}</label>{%- endif %}
	{%- if df.fieldtype=="Code" %}
		<pre class="value">{{ doc.get(df.fieldname) }}</pre>
	{% else -%}
		{{ doc.get_formatted(df.fieldname, parent_doc or doc) }}
	{% endif -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro print_value(df, doc, meta, parent_doc=None) -%}
    {% if doc.print_templates and
			doc.print_templates.get(df.fieldname) %}
        {% include doc.print_templates[df.fieldname] %}
	{% elif df.fieldtype=="Check" %}
		<i class="{{ 'icon-check' if doc[df.fieldname] else 'icon-check-empty' }}"></i>
	{% elif df.fieldtype=="Image" %}
		<img src="{{ doc[doc.meta.get_field(df.fieldname).options] }}" class="img-responsive">
	{% elif df.fieldtype in ("Attach", "Attach Image") and doc[df.fieldname]
		and (guess_mimetype(doc[df.fieldname])[0] or "").startswith("image/") %}
		<img src="{{ doc[df.fieldname] }}" class="img-responsive">
    {% elif df.fieldtype=="HTML" %}
        {{ frappe.render_template(df.options, {"doc":doc}) }}
	{% else %}
		{{ doc.get_formatted(df.fieldname, parent_doc or doc) }}
	{% endif %}
{%- endmacro %}

{% macro get_width(df) -%}
	{%- if df.print_width -%}{{ (df.print_width|str).replace("px", "") }}
	{%- elif df.fieldtype in ("Int", "Check", "Float", "Currency") -%}{{ 80 }}
	{%- else -%}{{ 150 }}{% endif -%}
{%- endmacro %}

{% macro get_align_class(fieldtype) %}
	{%- if fieldtype in ("Int", "Float", "Currency") -%}{{ "text-right" }}
	{%- else -%}{{ "" }}
	{%- endif -%}
{% endmacro %}

{% macro print_date(doc) -%}
	{%- if doc.transaction_date -%}{{ doc.get_formatted("transaction_date", doc) }}
	{%- elif doc.posting_date -%} {{ doc.get_formatted("posting_date", doc) }}
	{% endif -%}
{%- endmacro %}

{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead, footer, print_settings=None) -%}
	{% if letter_head and not no_letterhead %}
		<div class="letter-head">{{ letter_head }}</div>
	{% endif %}
    {% if doc.print_heading_template %}
        {{ frappe.render_template(doc.print_heading_template, {"doc":doc}) }}
    {% else %}
    <div class="print-heading">
		<h2>{{ doc.select_print_heading or (doc.print_heading if doc.print_heading != None
			else _(doc.doctype)) }}<br>
						<small>{{ doc.name }} - {{ print_date(doc) }}{% if doc.project %} - {{ doc.project }}{% endif %}</small>

        </h2>
    </div>
    {% endif %}
	{%- if doc.meta.is_submittable and doc.docstatus==0 and (print_settings==None or print_settings.add_draft_heading) -%}
	<div class="text-center" document-status="draft">
		<h4 style="margin: 0px;">{{ _("DRAFT") }}</h4>
    </div>
	{%- endif -%}
	{%- if doc.meta.is_submittable and doc.docstatus==2-%}
	<div class="text-center" document-status="cancelled">
		<h4 style="margin: 0px;">{{ _("CANCELLED") }}</h4>
    </div>
	{%- endif -%}
{%- endmacro -%}

{%- macro add_sign(doc) -%}
	{%- if doc.doctype in ("Purchase Order") -%}
		
		{{ frappe.db.get_value("Print Fields", "PO Signature", "print_field")}}

	{%- elif doc.doctype in ("Delivery Note","Invoice","Sales Order") -%}
		{{ frappe.db.get_value("Print Fields", "DO Signatures", "print_field")}}
	{%- endif -%}

{%- endmacro -%}


{%- macro add_footer(max_pages,doc,no_letterhead,footer,print_settings=None) -%}
	<div id="footer-html" class="visible-pdf">
			<div class="letter-head-footer">

	{{ add_sign(doc) }}
	
	{% if print_settings.repeat_header_footer %}
		
			{% if not no_letterhead and footer %}

			{{ footer }}

			{% endif %}
			
	{% else %}
	 <div id="variables" style="display: none;"><span id="margin-bottom">25mm</span></div>
	{% endif %}
	</div>
	<p class="text-right small page-number visible-pdf">
			{{ _("{0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
		</p>
	</div>
{%- endmacro -%}