{%- from "templates/print_formats/standard_macros.html" import add_header, add_footer, print_date, render_field with context -%}
	 
<div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
	{{ add_header(1, layout|len, doc, letter_head, no_letterhead, footer, print_settings,print_heading_template,mrp_print_options) }}
</div>

{% for page in layout %}
	{% for section in page %}
	<div class="row section-break" data-label="{{ section.label or '' | e }}">
		{%- if doc.print_line_breaks and loop.index != 1 -%}<hr>{%- endif -%}
		{%- if (doc.print_section_headings or (section.force_heading and section.force_heading == '1')) and section.label and section.has_data -%}
			<h4 class='col-sm-12'>{{ _(section.label) }}</h4>
		{%- endif -%}
		{%- set no_of_cols = section.columns|len -%}
        {% for column in section.columns %}
			{%- if section.page_break == 1 -%}
				<div class="column-break">
				{% for df in column.fields %}
					{{ render_field(df, doc, no_of_cols) }}
				{% endfor %}
				</div>
			{% else %}
				<div class="col-xs-{{ (12 / no_of_cols)|int }} column-break">
				{% for df in column.fields %}
					{{ render_field(df, doc, no_of_cols) }}
				{% endfor %}
				</div>
			{%- endif -%}
        {% endfor %}
    </div>
    {% endfor %}
	
	
{%- if loop.length > 1 -%}
<div class="page-break"></div>
{%- endif -%}

{% endfor %}

{{ add_footer(layout|len, doc, no_letterhead, footer,signature_html, print_settings,mrp_print_options) }}

