{%- from "templates/print_formats/standard_macros.html" import add_header,
	 render_field -%}
	 
	 <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
		{{ add_header(1, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
	</div>


{% for page in layout %}
<div class="page-break">
	

	
    {% for section in page %}
    <div class="row section-break">
		{%- if doc._line_breaks and loop.index != 1 -%}<hr>{%- endif -%}
		{%- if doc._show_section_headings and section.label -%}
		<h4 class='col-sm-12'>{{ section.label }}</h4>
		{%- endif -%}
        {% for column in section.columns %}
			<div class="col-xs-{{ (12 / section.columns|len)|int }} column-break">
            {% for df in column.fields %}
                {{ render_field(df, doc) }}
            {% endfor %}
			</div>
        {% endfor %}
    </div>
    {% endfor %}
	
	<div id="footer-html" class="visible-pdf">
	{% if print_settings.repeat_header_footer %}
		
			{% if not no_letterhead and footer %}
			<div class="letter-head-footer">
				{{ footer }}
			</div>
			{% endif %}
			
	{% else %}
	 <div id="variables" style="display: none;"><span id="margin-bottom">25mm</span></div>
	{% endif %}
	{% if layout|len > 1 %}
		<p class="text-right small page-number visible-pdf">
			{{ _("{0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
		</p>
		{% endif %}
	</div>
	
</div>
{% endfor %}