{%- from "templates/print_formats/standard_macros.html" import add_header,
	 render_field, add_footer,print_date-%}
	 
<div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
		{{ add_header(1, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
	</div>

{% for page in layout %}

	{% for section in page %}
    <div class="row section-break">
		{%- if doc.print_line_breaks and loop.index != 1 -%}<hr>{%- endif -%}
		{%- if doc.print_section_headings and section.label and section.has_data -%}

		<h4 class='col-sm-12'>{{ _(section.label) }}</h4>
		{%- endif -%}
        {% for column in section.columns %}
			{%- if section.page_break == 1 -%}
				<div class="column-break">
				{% for df in column.fields %}
					{{ render_field(df, doc) }}
				{% endfor %}
				</div>
			{% else %}
				<div class="col-xs-{{ (12 / section.columns|len)|int }} column-break">
				{% for df in column.fields %}
					{{ render_field(df, doc) }}
				{% endfor %}
				</div>
			{%- endif -%}
        {% endfor %}
    </div>
    {% endfor %}
	
	

<div class="page-break"></div>
{% endfor %}

		{{ add_footer(layout|len, doc, no_letterhead, footer,signature_html, print_settings) }}



